{% extends "layout.html" %}

{% block content %}
    <header class="container">
        <div class="row">
            <a class="col-sm-4"><img class="lang-logo" src="images/lang-logo.png" style="background: #B01302;"></a>
            <h2 class="col-sm-4">Demo Website Page</h2>
            <nav class="col-sm-4 text-right">
                <a href="#">Item1</a>
                <a href="#">Item2</a>
                <a href="#">Item3</a>
            </nav>
        </div>
    </header>

    <sectiom class="jumbotron">
        <div class="container">
            <div class="row text-center">

                <p>
                    PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.
                    PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.
                </p>
                <a href="https://www.w3schools.com/php/" class="btn btn-primary" role="button">LEARN PHP</a>
            </div>
            <div class="row text-center">
                <p>Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites.
                    Bootstrap is completely free to download and use! Click button to learn it.</p>
                <a href="https://www.w3schools.com/booTsTrap/default.asp" class="btn btn-primary" role="button">LEARN BOOTSTRAP</a>

            </div>
        </div>
    </sectiom>
    <h2 class="Heading"> Table Records</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">S.NO.</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">College</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ayushi</td>
            <td>Meitrey</td>
            <td>NJIT</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>RUTGERS</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Samuels</td>
            <td>NJIT</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Edward</td>
            <td>the Bird</td>
            <td>NJIT</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td>Thompson</td>
            <td>RUTGERS</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Rick</td>
            <td>Grimes</td>
            <td>RUTGERS</td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info text-center" role="alert">
        <p> This is demo alert message. Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
        </p></div>

    <footer class="container">
        <div class="row">
            <p class="col-sm-4">&copy ; Demo Webpage</p>
            <ul class="col-sm-8">
                <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg" /></li>
                <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg" /></li>
                <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg" /></li>
                <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg" /></li>
            </ul>
        </div>

    </footer>

{% endblock %}
